<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141337567543-1coiomk6pt2jgo6ge3s243a7ajur70fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141337567543-1coiomk6pt2jgo6ge3s243a7ajur70fr</string>
	<key>API_KEY</key>
	<string>AIzaSyC2nhsj8KKvtsWKPs44kFL8XYqPpjHiUE4</string>
	<key>GCM_SENDER_ID</key>
	<string>141337567543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bodyengineer.app</string>
	<key>PROJECT_ID</key>
	<string>bodyengineer-23bd6</string>
	<key>STORAGE_BUCKET</key>
	<string>bodyengineer-23bd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141337567543:ios:e443723ac43dfa1035bab2</string>
	<key>DATABASE_URL</key>
	<string>https://bodyengineer-23bd6.firebaseio.com</string>
</dict>
</plist>